<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<%- include("./partials/head.ejs")  %>


<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <%- include("./partials/header.ejs")  %>


        <!-- Content -->
        <section>
            <header class="main">
              <h1>Learn with <%= data.title %> </h1>
            </header>
            
            <hr class="major" />
            <p>
              <%- data.content %>
            </p>
          
             <% if (mode == "legacy"){ %>
                <hr class="major" />
                <ul class="actions">
                  <form action="/legacy/files/<%= data.title%>" method="post">
                    <li><button class="button">Get <%= data.title %> </button></li>
                  </form>
                </ul>
              <% } %>
        </section>



      </div>
    </div>

    <!-- Sidebar -->
    <%- include("./partials/sidebar.ejs")  %>
    
  </div>


</body>

</html>