<!DOCTYPE HTML>
<html>

<%- include("./partials/head.ejs") %>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <%- include("./partials/header.ejs") %>




        <section>
          <header class="major">
            <h2>Programmer Notes</h2>
          </header>
          <span class="image main"><img src="images/@MassiGy.png" alt="" /></span>
          <hr class="major" />


          <div class="posts">
            <% for (let file of files){ %>
            <article>
              <u>
                <h3>
                  <a href="/files/<%= file.file_name %>">Read : <%= file.file_name %></a>
                </h3>
              </u>
              <p><%= file.sample_text %> </p>
              <ul class="actions">
                <form action="/files/<%= file.file_name%>" method="post">
                  <li><button class="button">Get <%= file.file_name %> </button></li>
                </form>
              </ul>
            </article>
            <% } %>
          </div>
        </section>

      </div>
    </div>

    <!-- Sidebar -->
    <%- include("./partials/sidebar.ejs") %>


  </div>


</body>

</html>